
body{
    background:radial-gradient(circle, #4666af 5%, rgb(245, 245, 248));;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
}

.header{
    background-color: white;
    color : rgb(2, 34, 104);
    width: 400px;
    margin :auto;
    padding : 10px  0px 10px  0px;
    text-align: center;
    border: 10px 10px 0px 0px;
      border-radius: 5px;
    font-family: 'Source Sans Pro';
}
.main{
    background-color: (0,0,0,0.5);
    width :800px;
    margin : auto;
}
form
{
    	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    text-align: center;
   border
}
#reg{
    width : 100%;
    height :100px;
}
table{
    text-align: center;
    padding :10px;
    margin:auto;
}
.textInput{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 12px;
}
td{
    text-align: right;
    color :white;
    font-size: larger;
    font-style:initial;
    font-family: 'Source Sans Pro';

}
#submit {
    width :100px;
    text-align: center;
    border:none;
    border-radius:5px;
    padding : 10px 10px;
   
   
}
#submit:hover{
    background-color: rgb(86, 166, 212);
  box-shadow: 4px 4px 10px #4526cc;
  
  
}
